<!DOCTYPE html>
<html>
	<head>
		<h1>Payment Input: Card Information</h1>
	</head>

	<body>
		<form action="/customerpurchase" method="POST">
			<!--The input area for Flight Number-->
			<label for="CardType"><b>Card Type</b></label> </br>
			<input type="Text" name="CardType" placeholder="Debit / Credit" required/> </br></br>

			<!--The input area for Departing Date-->
			<label for="CardNumber"><b>Card Number</b></label> </br>
			<input type="number" name="CardNumber" placeholder="Card Number"required/> </br></br>

			<!--The input area for Departing Time-->
			<label for="NameOfCard"><b>Name Of Card</b></label> </br>
			<input type="text" name="NameOfCard" placeholder="Visa / Mastercard" required/> </br></br>

			<!--The input area for Arrival Date-->
			<label for="ExpirationDate"><b>Expiration Date</b></label> </br>
			<input type="date" name="ExpirationDate" placeholder="ExpirationDate" required/> </br></br>

			<input type="hidden" name="FlightNumber" Value = "{{FlightNumber}}" required/>
			<input type="hidden" name="Airline" Value = "{{Airline}}" required/>
			<input type="hidden" name="Price" Value = "{{Price}}"  required/>

			<input type="submit" Value = Submit>
			<h1></h1>

			{% if error %}
				<p class="error"><strong>Error:</strong> {{error}}</p>
			{% endif %}

		</form>

		<!--Back button to Staff-->
		<form action="/customersearchflightsoneway">
			<input type="submit" value="Go Back"/>
		</form>
	</body>
</html>
