<html>
    <head>
        <h1>Review previous flights</h1>
    </head>

    <body>
        <!-- Rate dropdown menu -->
        <label for="rating">Rate Your Flight:</label>
        <select name="rating" id="rate">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        </br></br>

        <!-- Comment Box -->

        <label for="Comment">Comment:</label>
        </br>
        <textarea id="comment" name="Comment" rows="10" cols="50"></textarea>



        </br></br>
        <form action="/customerreview" method="POST">
            <input type="submit" value="Submit Review">
        </form>
        </br>
            
        <hr>	<!-- line break -->
        <h3>Review previous ratings</h3>
        <style type="text/css">
            table, th, td{
                border: 1px solid black;
            }
        </style>
        
        <table>
            <th>FlightNumber</th>
            <th>DepartureDate</th>
            <th>DepartureTime</th>
            <th>Rate</th>
            <th>Comment</th>
        
        {% for line in posts %}
            <tr>
                <td>{{line['FlightNumber']}}</td>
                <td>{{line['DepartureDate']}}</td>
                <td>{{line['DepartureTime']}}</td>
                <td>{{line['Rate']}}</td>
                <td>{{line['Comment']}}</td>
            </tr>
        {% endfor %}
        </table>

        </br></br>
        <hr>	<!-- line break -->
        </br>
        <a href="/customerhome">Back</a>

    </body>


</html>
