<html>
    <head>
        <h1>Review previous flights</h1>
    </head>

    <body>
        <!-- Rate dropdown menu -->
        <label for="rating">Rate Your Flight:</label>
        <select name="rating" id="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        </br></br>

        <!-- Comment Box -->
        <label for="Comment">Comment:</label>
        </br>
        <textarea id="comment" name="comment" rows="10" cols="50"></textarea>


        </br></br>
        <form action="/customerreview" method="POST">
            <input type="submit" value="Submit Review">
        </form>
        </br></br>


        <hr>	<!-- line break -->
        </br>
        <a href="/customerhome">Back</a>

    </body>


</html>
