<html>
    <head>
        <h1>Track Spending</h1>
    </head>

    <body>
        <h3>Yearly Spending: ${{spentYear}} </h3>
        </br>

        <h3>Amount Spent in the Last 6 Months (per Month)</h3>

        <canvas id="chart6months" width="500" height="300"></canvas>
        <script>
            var chart = document.getElementById("chart6months");
            var chartDesign = chart.getContext("2d");
            chartDesign.fillStyle = "#DCDCDC";
            chartDesign.fillRect(0, 0, 500, 300);
        </script>

        </br></br>
        <hr>	<!-- line break -->
        <h3>Exit this page and return to:</h3>

        <a href="/customerhome">Home Page</a>

    </body>


</html>
