<!DOCTYPE html>
<html>
	<head>
	</head>

	<body>
		<form action="/search_flights" method="POST">
			<h1>Welcome {{name1}}</h1>

			<!--One-way check box-->
			<input type="radio" id = "One-Way" name = "checkbox" onclick="check();" checked>
			<label for="One-Way1">One-Way</label>

			<!--Round Trip check box-->
			<input type="radio" id = "Round Trip" name = "checkbox" onclick="check();">
			<label for="Round Trip1">Round Trip</label> </br>

			<!--The input area for Departing airports/city-->
			<label for="Departing">Departing</label> </br>
			<input type="text" name="City or Airline Name" placeholder="City or Airline Nam" required/> </br>

			<!--The input area for Arriving airports/city-->
			<label for="Arriving">Arriving</label> </br>
			<input type="text" name="City or Airline Name" placeholder="City or Airline Name" required/> </br>

			<!--The input area for Departing Date-->
			<label for="Departing Date">Departing Date</label> </br>
			<input type="date" name="Departure Date" placeholder="Departure Date"required/> </br>

			<!--The input area for Arriving Date-->
			<label for="Arriving Date" id="Arr_date" Style="display:none">Arriving Date</label>
			<input type="date" name="Arriving Date" id="Arr_date_input" placeholder="Arriving Date" Style="display:none" required /> </br>
			<input type="submit" Value = submit />

		</form>

		{% if not message %}
			<a href="/loginfork">Login</a>
			<a href="/register">Register</a>
		{% endif %}

		<style type="text/css">
			table, th, td{
				border: 1px solid black;
			}
		</style>

		<input type="City Airport" id="CAsearch" name="CAsearch">
		<input type="submit">
  
		<table>
			<th>Flight Number</th>
			<th>Departure Date</th>
			<th>Departure Time</th>
			<th>Airline</th>
			<th>Status</th>

			{% for line in flights %}
				<tr>
					<td>{{line['FlightNumber']}}</td>
					<td>{{line['DepartureDate']}}</td>
					<td>{{line['DepartureTime']}}</td>
					<td>{{line['AirlineName']}}</td>
					<td>{{line['Status']}}</td>
				</tr>
			{% endfor %}
		</table>

		<script>
			function check(){
				var checkBox = document.getElementById("Round Trip");
				var text = document.getElementById("Arr_date");
				var input = document.getElementById("Arr_date_input");
				if (checkBox.checked == true){
					text.style.display = "block";
					input.style.display = "block";
				} else {
					text.style.display = "none";
					input.style.display = "none";
				}
				return document.getElementsByID("Round Trip").checked;
			}
		</script>
		
		<!-- Testcode link to Customer Home page -->
		</br>
		{% if not message %}
			<a href="/customer_home">TestCustomerHome</a>
		{% endif %}


	</body>
</html>
