<html>
<head>
</head>
<body>

<h1>Login</h1>

	<form action="/loginAuth" method="POST">
		<input type="text" name = "username" placeholder="username" required/> </br>
		<input type="password" name = "password" placeholder="password" required/></br>
		<input type="submit" value = Login />
		{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
		{% endif %}
	</form>

	<!-- Testcode link to Staff page -->
	<a href="/staff">Test Staff Page</a>

	<!--Back button to go to loginfork-->
	<form action="/loginfork">
		<input type="submit" value="Go Back"/>
	</form>

</body>


</html>
