<!DOCTYPE html>
<html>
<h1>{{Airline}}</h1>
<head>
</head>

<body>

    <form action="/reports_inrange" method="POST">
        <!--The input area for starting Date-->
        <label for="StartingDate">Starting Date</label> </br>
        <input type="date" name="StartingDate" placeholder="StartingDate" required/> </br>

        <!--The input area for ending Date-->
        <label for="EndingDate">Ending Date</label></br>
        <input type="date" name="EndingDate" placeholder="EndingDate"> </br>

        <input type="submit" Value= submit>

    </form>

    <p id="search">Tickets sold within dates: {{tickets}}</p>

    <br>

    <p>
        Tickets sold last year: {{year}} <br> Tickets sold last month: {{month}}
    </p>


    <style type="text/css">
        table, th, td{
            border: 1px solid black;
        }
    </style>

    <h1>Tickets Sold by Month Last Year</h1>

		<table>
			<th>Month</th>
			<th>Tickets Sold</th>

			{% for line in table %}
				<tr>
					<td>{{line['Month']}}</td>
					<td>{{line['count']}}</td>
				</tr>
			{% endfor %}
		</table>

    <!--Back button to Staff-->
    <form action="/staff">
        <input type="submit" value="Go Back" />
    </form>

</body>

</html>