<!DOCTYPE html>
<html>
	<head>
		<h1>{{Airline}}</h1>
	</head>

	<body>

		<!--Logout button-->
		<form action="/logout">
			<input type="submit" value="Log Out"/>
		</form>

		<br>

		<!--View Flights button-->
		<form action="/add_flight">
			<input type="submit" value="View Flights"/>
		</form>

		<br>

		<!--Add Flight button-->
		<form action="/add_flight">
			<input type="submit" value="Add Flight"/>
		</form>

		<!--Add Airplane button-->
		<form action="/add_airplane_page">
			<input type="submit" value="Add Airplane"/>
		</form>

		<!--Add Aiport button-->
		<form action="/add_airport_page">
			<input type="submit" value="Add Airport"/>
		</form>

		<!--Flight reviews button-->
		<form action="/view_review">
			<input type="submit" value="Flight Reviews"/>
		</form>

		<!--View Customers and the most freuqent flyer button-->
		<form action="/customer_view">
			<input type="submit" value="Customer flights"/>
		</form>

		<!--View Reports button-->
		<form action="/reports">
			<input type="submit" value="View Reports"/>
		</form>

		<!--View Revenue button-->
		<form action="/revenue">
			<input type="submit" value="View Revenue"/>
		</form>

		<!--View Revenue button-->
		<form action="/destination">
			<input type="submit" value="Popular Destinations"/>
		</form>

		<style type="text/css">
			table, th, td{
				border: 1px solid black;
			}
		</style>

	</body>
</html>
