<!DOCTYPE html>
<html>
	<head>
		<h1>{{Airline}}</h1>
	</head>

	<body>

		<br><h1>Input airplane</h1><br>
		<form action="/add_airplane_confirmation" method="POST">
			<input type="hidden" name="Airline" Value = "{{Airline}}" required Style="display:none">
			
			<label for="AirplaneID">AirPlane ID</label> </br>
			<input type="text" name="AirplaneID" placeholder="AirplaneID" required/> </br>

			<label for="NumSeats">Number of Seats</label> </br>
			<input type="number" name="NumSeats" placeholder="Number Of Seats" required/> </br>
			
			<input type="submit" Value = submit>

		</form>

		</form>
	</body>
</html>
