<!DOCTYPE html>
<html>
	<head>
	</head>

	<body>
		<table>
			<th>Flight Number</th>
			<th>Departure Date</th>
			<th>Departure Time</th>
			<th>Arrival Date</th>
			<th>Arrival Time</th>
			<th>Departing Airport</th>
			<th>Arriving Airport</th>

			{% for line in depart_flights %}
				<tr>
					<td>{{line['FlightNumber']}}</td>
					<td>{{line['DepartureDate']}}</td>
					<td>{{line['DepartureTime']}}</td>
					<td>{{line['ArrivalDate']}}</td>
					<td>{{line['ArrivalTime']}}</td>
					<td>{{line['AirportName']}}</td>
					<td>{{line['a.AirportName']}}</td>
				</tr>
			{% endfor %}
		</table>
		
FlightNumber	
DepartureDate	
DepartureTime	
AirlineName	
ArrivalDate	
ArrivalTime	
BasePrice	
Status	
AirplaneID	
DepartAirportID	
ArrivalAirportID
		<form action="/staff" method="POST">
			<h1>{{name1}}</h1>

			<!--The input area for Flight Number-->
			<label for="FlightNumber">New Flight Number</label> </br>
			<input type="text" name="FlightNumber" placeholder="Flight Number" required/> </br>

			<!--The input area for Flight Number-->
			<label for="FlightNumber">New Flight Number</label> </br>
			<input type="text" name="FlightNumber" placeholder="Flight Number" required/> </br>



			

			<!--The input area for Departing airports/city-->
			<label for="Departing">Departing Airport</label> </br>
			<input type="text" name="Departing" placeholder="City or Airline Nam" required/> </br>

			<!--The input area for Arriving airports/city-->
			<label for="Arriving">Arriving Airport</label> </br>
			<input type="text" name="Arriving" placeholder="City or Airline Name" required/> </br>

			<!--The input area for Departing Date-->
			<label for="Departing Date">Departing Date</label> </br>
			<input type="date" name="Departure Date" placeholder="Departure Date"required/> </br>

			<!--The input area for Arriving Date-->
			<label for="Arriving Date" id="Arr_date" Style="display:none">Arriving Date</label>
			<input type="date" name="Arriving Date" id="Arr_date_input" placeholder="Arriving Date" Style="display:none" disabled /> </br>
			<input type="submit" Value = submit/>

		</form>

		<style type="text/css">
			table, th, td{
				border: 1px solid black;
			}
		</style>


		<script>
			function check(){
				var checkBox = document.getElementById("Round Trip");
				var text = document.getElementById("Arr_date");
				var input = document.getElementById("Arr_date_input");
				if (checkBox.checked == true){
					text.style.display = "block";
					input.style.display = "block";
					input.disabled = false;
				} else {
					text.style.display = "none";
					input.style.display = "none";
					input.disabled = true;
				}
				return document.getElementsByID("Round Trip").checked;
			}
		</script>
	</body>
</html>
