<!DOCTYPE html>
<html>
	<head>
		<h1>{{Airline}}</h1>
	</head>

	<body>

		<style type="text/css">
			table, th, td{
				border: 1px solid black;
			}
		</style>

		<table>
			<th>Airplane ID</th>
			<th>Number of Seats</th>
	
			{% for line in airplanes %}
				<tr>
					<td>{{line['AirplaneID']}}</td>
					<td>{{line['NumSeats']}}</td>
				</tr>
			{% endfor %}
		</table>

		<br><h1>Input airplane</h1><br>
		<form action="/add_airplane_confirmation" method="POST">
			<input type="hidden" name="Airline" Value = "{{Airline}}" required Style="display:none">
			
			<label for="AirplaneID">AirPlane ID</label> </br>
			<input type="number" name="AirplaneID" placeholder="AirplaneID" required/> </br>

			<label for="NumSeats">Number of Seats</label> </br>
			<input type="number" name="NumSeats" placeholder="Number Of Seats" required/> </br>
			
			<input type="submit" Value = submit>

		</form>

		<br>

		<!--Back button-->
		<form action="/staff">
			<input type="submit" value="Go Back"/>
		</form>
	</body>
</html>
