<!DOCTYPE html>
<html>
	<head>
		<h1>{{Airline}}</h1>
	</head>

	<body>

		<style type="text/css">
			table, th, td{
				border: 1px solid black;
			}
		</style>

		<form action="/staff_search_flights" method="POST">

			<!--Date search check box-->
			<input type="radio" id = "DateSearch" name = "checkbox" onclick="check()" value="DateSearch">
			<label for="DateSearch">Date Search</label>

			<!--City/Airport check box-->
			<input type="radio" id = "DestinationSearch" name = "checkbox" onclick="check()" value="DestinationSearch">
			<label for="DestinationSearch">Destination Search</label> 


			<!--The input area for Departing airports/city-->
			<label for="Departing" Style="display:none" id="dep_text">Departing</label>
			<input type="text" name="Departing" placeholder="City or Airport Name" required Style="display:none" disabled id="dep_dest"/>

			<!--The input area for Arriving airports/city-->
			<label for="Arriving" Style="display:none" id="ari_text">Arriving</label> 
			<input type="text" name="Arriving" placeholder="City or Airport Name" required Style="display:none" disabled id="ari_dest"/> 


			<!--The input area for Starting Date-->
			<label for="Inital Date" id="start_text" Style="display:none">Inital Date</label>
			<input type="date" name="Inital Date" placeholder="Initial Date"required id="start_date" Style="display:none"/>

			<!--The input area for Arriving Date-->
			<label for="Ending Date" id="end_text" Style="display:none">Ending Date</label>
			<input type="date" name="Ending Date" placeholder="Ending Date" id="end_date" Style="display:none"/> 
			
			<br>
			<input type="submit" Value = "submit" id="submit" disabled>

		</form>

		<table>
			<th>Flight Number</th>
			<th>Departure Date</th>
			<th>Departure Time</th>
			<th>Arrival Date</th>
			<th>Arrival Time</th>
			<th>Departing Airport</th>
			<th>Arriving Airport</th>
			<th>Status</th>
			<th>Update Flight Status</th>
			<th>View All Customers</th>

			{% for line in flights %}
				<tr>
					<td>{{line['FlightNumber']}}</td>
					<td>{{line['DepartureDate']}}</td>
					<td>{{line['DepartureTime']}}</td>
					<td>{{line['ArrivalDate']}}</td>
					<td>{{line['ArrivalTime']}}</td>
					<td>{{line['AirportName']}}</td>
					<td>{{line['a.AirportName']}}</td>
					<td>{{line['status']}}</td>
					<td>
						<form action="/staff_update_status" method="POST">
							<input type="hidden" name="FlightNumber" Value = "{{line['FlightNumber']}}" required Style="display:none">
							<input type="hidden" name="DepartureDate" Value = "{{line['DepartureDate']}}" required Style="display:none">
							<input type="hidden" name="DepartureTime" Value = "{{line['DepartureTime']}}" required Style="display:none">
							<input type="submit" Value = update Style="z-index :-1">
						</form>
					</td>
					<td>
						<form action="/staff_update_status" method="POST">
							<input type="hidden" name="FlightNumber" Value = "{{line['FlightNumber']}}" required Style="display:none">
							<input type="hidden" name="DepartureDate" Value = "{{line['DepartureDate']}}" required Style="display:none">
							<input type="hidden" name="DepartureTime" Value = "{{line['DepartureTime']}}" required Style="display:none">
							<input type="submit" Value = Customers Style="z-index :-1">
						</form>
					</td>
				</tr>
			{% endfor %}
		</table>

		<script>
			function check(){	
				var checkBox = document.getElementById("DateSearch");
				var starttext = document.getElementById("start_text");
				var startdate = document.getElementById("start_date");
				var endtext = document.getElementById("end_text");
				var enddate = document.getElementById("end_date");

				var deptext = document.getElementById("dep_text");
				var dep = document.getElementById("dep_dest");
				var aritext = document.getElementById("ari_text");
				var ari = document.getElementById("ari_dest");

				var submit = document.getElementById("submit");
				if (checkBox.checked == true){
					starttext.style.display = "block";
					startdate.style.display = "block";
					startdate.disabled = false;

					endtext.style.display = "block";
					enddate.style.display = "block";
					enddate.disabled = false;

					deptext.style.display = "none";
					dep.style.display = "none";
					dep.disabled = true;

					aritext.style.display = "none";
					ari.style.display = "none";
					ari.disabled = true;

					submit.disabled = false;
				} else {
					starttext.style.display = "none";
					startdate.style.display = "none";
					startdate.disabled = true;

					endtext.style.display = "none";
					enddate.style.display = "none";
					enddate.disabled = true;

					deptext.style.display = "block";
					dep.style.display = "block";
					dep.disabled = false;

					aritext.style.display = "block";
					ari.style.display = "block";
					ari.disabled = false;

					submit.disabled = false;
				}
				return document.getElementsByID("Round Trip").checked;
			}

		</script>

		<!--Back button to Staff-->
		<form action="/staff">
			<input type="submit" value="Go Back"/>
		</form>
	</body>
</html>
