<!DOCTYPE html>
<html>
	<head>
		<h1>{{Airline}}</h1>
	</head>

	<body>

		{% if message %}
				<p class="message"> {{error}}</p>
		{% endif %}

		<!--Addes a new flight to the system-->
		<br><h1>Adding new flight</h1><br>

		<form action="/staffinput" method="POST">

			<!--The input area for Flight Number-->
			<label for="Flight Number">Flight Number</label> </br>
			<input type="number" name="Flight Number" placeholder="Flight Number" required/> </br>

			<!--The input area for Departing Date-->
			<label for="Departing Date">Departing Date</label> </br>
			<input type="date" name="Departing Date" placeholder="Departing Date"required/> </br>

			<!--The input area for Departing Time-->
			<label for="Departing Time">Departing Time</label> </br>
			<input type="time" name="Departing Time" placeholder="Departing Time" required/> </br>

			<!--The input area for Arrival Date-->
			<label for="Arrival Date">Arrival Date</label> </br>
			<input type="date" name="Arrival Date" placeholder="Arrival Date" required/> </br>

			<!--The input area for Arrival Time-->
			<label for="Arrival Time">Arrival Time</label> </br>
			<input type="time" name="Arrival Time" placeholder="Arrival Time" required/> </br>

			<!--The input area for Base Price-->
			<label for="Base Price">Base Price</label> </br>
			<input type="number" name="Base Price" placeholder="Base Price" required/> </br>

			<!--The input area for Status-->
			<label for="Status">Status</label> </br>
			<select name="Status" id="Status" required>
				<option value="On-time" name='Status'>On-Time</option>
				<option value="Delayed" name='Status'>Delayed</option>
			</select><br>

			<!--The input area for Status-->
			<label for="Airplane ID">Airplane ID</label> </br>
			<input type="number" name="Airplane ID" placeholder="Airplane ID" required/> </br>
			
			<!--The input area for Departing airports/city-->
			<label for="Departing Airport ID">Departing Airport ID</label> </br>
			<input type="number" name="Departing Airport ID" placeholder="Departing Airport ID" required/> </br>

			<!--The input area for Arriving airports/city-->
			<label for="Arriving Airport ID">Arriving Airport ID</label> </br>
			<input type="number" name="Arriving Airport ID" placeholder="Arriving Airport ID" required/> </br>

			<input type="submit" Value = submit>

			{% if error %}
				<p class="error"><strong>Error:</strong> {{error}}</p>
			{% endif %}

		</form>

		<!--Back button to Staff-->
		<form action="/staff">
			<input type="submit" value="Go Back"/>
		</form>
	</body>
</html>
